#container{
    display: flex;
    flex-wrap:wrap;
    background-color: teal;
    height: 680px;
    width: 680px;
}
.fill{
    background-color: black;
}
.header{
    display: flex;
    justify-content: center;
    
}
.flexMain{
   display: flex;
   justify-content: center;
    
}
.flexSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
    height: 300px;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 7px;
}
.allBtn{
    font-size: 25px;
    padding: 10px 24px;
    width: 170px;
}
#size{
    font-size: 25px;
    padding: 10px 24px;
}
.cr{
    padding: 40px;
    background-color: turquoise ;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    font-size:  17px;
    color: #F9FAF8;
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
}