#container{
    display: flex;
    flex-wrap: wrap;
    background-color: teal;
    height: 960px;
    width: 960px;
}
.fill{
    background-color: black;
}
.header{
    display: flex;
    justify-content: center;
}
.flexMain{
   display: flex;
   justify-content: center;
    
}
.flexSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}